@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  text-align: center;
}

h1 {
  color: #293356;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.5rem;
}

p {
  color: #858fad;
  font-size: 0.8125rem;
  line-height: 1.4375rem;
}

li {
  color: #858fad;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

input[type=range] {
  -webkit-appearance: none;
  width: 17.4375rem;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 17.4375rem;
  height: 0.5rem;
  cursor: pointer;
  box-shadow: none;
  background: #eaeefb;
  border-radius: 5px;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 15px 30px rgba(0, 255, 230, 0.6);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #10d5c2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eaeefb;
}

input[type=range]::-moz-range-track {
  width: 17.4375rem;
  height: 0.5rem;
  cursor: pointer;
  box-shadow: none;
  background: #eaeefb;
  border-radius: 5px;
  border: none;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 15px 30px rgba(0, 255, 230, 0.6);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #10d5c2;
  cursor: pointer;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type=range]::-ms-track {
  width: 17.4375rem;
  height: 0.5rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 40px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #a5f3eb;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}

input[type=range]::-ms-fill-upper {
  background: #eaeefb;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 15px 30px rgba(0, 255, 230, 0.6);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #10d5c2;
  cursor: pointer;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type=range]:focus::-ms-fill-lower {
  background: #a5f3eb;
}

input[type=range]:focus::-ms-fill-upper {
  background: #eaeefb;
}

.btn {
  background-color: #293356;
  border-radius: 21px;
  color: #bdccff;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 900;
  padding: 0.75rem 3.1875rem 1.0625rem 3.1875rem;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover {
  color: white;
  background-color: #293356;
}

.btn:focus {
  color: white;
  background-color: #293356;
  outline: none;
}

body {
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
}

header {
  background-image: url("../images/pattern-circles.svg");
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0.9375rem;
  margin-top: 3.5625rem;
  padding-bottom: 2.625rem;
  padding-top: 2.5625rem;
}

main {
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(127, 136, 184, 0.15);
  border-radius: 8px;
  display: inline-block;
  opacity: 1;
  padding-bottom: 2.125rem;
}

main h2 {
  color: #858fad;
  font-size: 0.75rem;
  letter-spacing: 1.71px;
  line-height: 0.875rem;
  margin: 2.125rem 6.375rem 1.8125rem 6.3125rem;
  text-transform: uppercase;
}

main .price {
  color: #293356;
  display: inline-block;
  font-size: 2rem;
  letter-spacing: -0.8px;
  line-height: 2.375rem;
  margin-right: 0.84375rem;
  margin-top: 1.5rem;
}

main .toggle-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.875rem;
}

main .discount {
  background: #feece7 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: #ff8c66;
  display: inline-block;
  padding: 0 0.5rem;
}

main ul {
  margin-top: 3.9375rem;
  margin-bottom: 2.3125rem;
}

main ul li {
  list-style-image: url("../images/icon-check.svg");
  list-style-position: inside;
  margin-bottom: 0.9375rem;
}
/*# sourceMappingURL=main.css.map */